.container-fluid{
    padding-left: 14%;
    padding-right: 14%;
}

@media (max-width: 480px){
    .container-fluid{
        padding-left: 3%;
        padding-right: 3%;
    }
    .nav-item{
        text-align: center;
        
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .container-fluid{
        padding-left: 6%;
        padding-right: 6%;
    }
    .nav-item{
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .container-fluid{
        padding-left: 10%;
        padding-right: 10%;
    }
    .nav-item{
        text-align: center;
    }
}